.example-container {
  height: auto;
  width: 80%;
}

table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.colorprime {
  color: #27c1ce !important;
}
.btnbackground {
  background-color: #27c1ce !important;
  float: right;
}
.adjustbtn {
  width: 15%;
}
