<div class="gobackContainer">
  <span [routerLink]="''" matRipple [matRippleCentered]="centered"
    ><fa-icon [icon]="faLongArrowAltLeft"></fa-icon> GO BACK</span
  >
  <span></span>
</div>

<main>
  <section>
    <header>Add Candidate</header>

    <form [formGroup]="newCandidateForm" class="candidate-field-form">
      <div class="picUpload">
        <label *ngIf="!selectedFile" id="picUploadLabel" for="dp">
          Upload
        </label>
        <img
          *ngIf="selectedFile"
          (click)="changePicture()"
          for="dp"
          id="picUploadImage"
        />
        <input type="file" name="dp" id="dp" (change)="onFileSelected($event)" hidden />
      </div>
      <mat-form-field class="candidate-field-full-width">
        <input matInput formControlName="name" placeholder="Enter name" />
        <mat-error *ngIf="name.touched && name.hasError('required')"
          >*This is a required field.</mat-error
        >
      </mat-form-field>

      <mat-form-field class="candidate-field-full-width">
        <input matInput formControlName="email" placeholder="Enter email" />
        <mat-error *ngIf="email.touched && email.hasError('required')"
          >*This is a required field.</mat-error
        >
        <mat-error *ngIf="email.touched && email.hasError('email')">
          *Email should be in the format. Ex: abc@xyz.com
        </mat-error>
      </mat-form-field>

      <div class="row">
        <mat-form-field class="phoneCodeClass">
          <mat-select formControlName="code">
            <mat-option *ngFor="let code of phoneCodeArr" [value]="code">
              ({{ code }})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="code.touched && code.hasError('required')"
            >*This is a required field.</mat-error
          >
        </mat-form-field>

        <mat-form-field class="phoneNumberClass">
          <input matInput formControlName="phone" placeholder="Enter Phone" />
          <mat-error *ngIf="phone.touched && phone.hasError('required')"
            >*This is a required field.</mat-error
          >
          <mat-error *ngIf="phone.touched && phone.hasError('pattern')">
            *Only numbers are allowed of length 10.
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="candidate-field-full-width">
        <mat-label>Experience</mat-label>
        <mat-select formControlName="experience">
          <mat-option *ngFor="let ex of experienceArr; index as i" [value]="i + 1">
            {{ i + 1 }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="experience.touched && experience.hasError('required')">
          *This is a required field.
        </mat-error>
        <mat-error *ngIf="experience.touched && experience.hasError('max')">
          *Max value can't be more than 100.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="candidate-field-full-width">
        <input matInput formControlName="github" placeholder="Github" />
        <mat-error *ngIf="github.touched && github.hasError('required')"
          >*This is a required field.</mat-error
        >
      </mat-form-field>

      <button
        type="reset"
        mat-raised-button
        [disabled]="newCandidateForm.invalid"
        (click)="submitForm()"
        color="accent"
      >
        Create
      </button>
    </form>
  </section>
</main>
