$color-primary: rgb(59, 189, 176);
$color-accent: rgb(192, 189, 189);
$color-row-hover: rgba(192, 189, 189, 0.5);
$color-black: black;
$color-white: white;

$color-text-primary: rgb(129, 127, 127);

$complete-width: 100%;
$viewport-2: 2vh;
