$color-box-shadow: rgba(0, 0, 0, 0.37);
$table-content-height: 300px;
$color-table-header-primary: #eff0f1;
$color-text-table: black;

$color-text-name: #21c1ca;
$row-background-color: #eceff1;
$row-height: 8.5vh;
$color-clickable-cell: hsl(183, 72%, 46%);

$common-width: 100%;

$basic-font-size: 1.3rem;
$button-font-size: 1.1rem;
$back-button-size: 1.5rem;

$basic-viewport-height: 1vh;
$basic-viewport-width: 1vw;

$upload-button-color: #cfd8dc;

$font-color: #607d8b;
$dark-font-color: #263238;
$candidate-header-color: #455a64;
